<h2>Select a language to view developer jobs:</h2>
<% counter = 0 %>
<div>
<% @languages.each do |language| %>
  <% if language.lang_name == "C++" %>
    <% alt_lang = "C%2B%2B" %>
  <% elsif language.lang_name == "C#" %>
    <% alt_lang = URI.encode(language.lang_name) %>
  <% else %>
    <% alt_lang = language.lang_name %>
  <% end %>
  <%= counter += 1 %>. <%= link_to language.lang_name, "/jobs/results/?language=#{alt_lang}&page=1" %><br>
<% end %>
</div>


<style>

  h2 {
    font-size: 35px;
    font-family: 'Gloria Hallelujah', cursive;
    color: rgba(100, 100, 0, 0.7)
  }
  body {
    background-image: url("http://www.seekgif.com/uploads/2017/06/07-plain-backgrounds-dark-blue-checks-web-background-hd-245-jpg--34.jpeg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }

  html {
    height: 100%;
  }

div {
    font-size: 25px;
    font-family: 'Gaegu', cursive;
    color: green;

  }
</style>
