<ul>
  <h2><%= @job.company_name %></h2>
  <li>Title: <%= @job.title %></li> <br>
  <li>Description: <%= @job.description %></li> <br>
  <li>URL: <a href="<%= @job.redirect_url %>" target="_blank">See details</a></li>
</ul>


<style>

  h2 {
    text-align: center;
  }
  ul {
    font-size: 25px;
    font-family: "Times New Roman";
    background-color: rgba(140, 140, 140, 0.5);
  }
  body {
    background-image: url("http://www.ifmanyc.org/wp-content/uploads/2014/11/East_River_8x10-5_RGB-wmark.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }

  html {
    height: 100%;
  }

  div {
    font-size: 22px;
    background-color: rgba(140, 140, 140, 0.5)
  }


</style>
