<h2>Most Common Programming Languages of Today</h2>

<% @languages.each do |language| %>
<h3 id="header"> <%= link_to language.lang_name, language %>  </h3>
<li><%= language.description %> </li>
<br>
<% end %>
<br>
<div>
<%= link_to "Search Jobs by Language", search_path %>
</div>


<style>

  h2 {
    font-size: 35px;
    text-align: center;
    font-style: italic;
    color: darkblue;
  }
  body {
    background-image: url("http://kb4images.com/images/plain-background-images/36161486-plain-background-images.jpg");
    background-repeat: no-repeat;
    background-size: 100% 170%;
    }
    html {
      height: 135%;
    }

  h3, li {
    background-color: rgba(170, 170, 170, 0.6);
    padding: 1px 1px 1px 11px;
    margin: 0px 0px 0px;
    font-family: 'Gaegu', cursive;
  }

  #header {
    font-size: 26px;
    font-family: 'Lato', sans-serif;
  }

  li {
    font-size: 20px;
  }

  div {
    font-size: 25px;
    background-color: rgba(180, 180, 180, 0.9);
    font-weight: bold;
  }
</style>
